.plugin_ajaxselect select {
  float: left;
  width: 90%;
}
div.w2p_fw .plugin_ajaxselect select {
  display: block;
}
.plugin_ajaxselect .refresh_trigger,
.plugin_ajaxselect .add_trigger {
  float: left;
  position: relative;
  height: 1.5em;
  line-height: 1.5em;
  font-size: 1em;
  border-radius: 0;
  clear: right;
  text-align: center;
  text-decoration: none;
  -moz-transition: all 100ms ease-in;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}
.plugin_ajaxselect .refresh_trigger:hover,
.plugin_ajaxselect .add_trigger:hover,
.plugin_ajaxselect .refresh_trigger:active,
.plugin_ajaxselect .add_trigger:active {
  background-color: #003366;
  -moz-transition: all 100ms ease-in;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}
.plugin_ajaxselect ul.taglist {
  clear: both;
  margin-left: 0;
  list-style-type: none;
}
.plugin_ajaxselect ul.taglist li.tag {
  /*background-color: #607890;*/
  /*margin: .25em .25em 0 0;*/
  cursor: pointer;
  max-width: 90%;
}
ul.sortable .plugin_ajaxselect ul.taglist li.tag {
  display: list-item;
  cursor: move;
  float: left;
  width: 90%;
  max-width: 90%;
}
.plugin_ajaxselect ul.taglist span.label.label-info,
.plugin_ajaxselect ul.taglist a.label.label-info {
  width: 75%;
  max-width: 75%;
  overflow: hidden;
}
.plugin_ajaxselect ul.taglist span.label.edit_trigger,
.plugin_ajaxselect ul.taglist a.label.edit_trigger {
  text-align: center;
  clear: right;
}
.plugin_ajaxselect ul.taglist span.label.tag_remover,
.plugin_ajaxselect ul.taglist a.label.tag_remover {
  clear: right;
}
/*a.tag:hover {*/
/*background-color:#003366;*/
/*-moz-transition:all 100ms ease-in;*/
/*-webkit-transition:all 100ms ease-in;*/
/*}*/
/*li.tag a.tag_remover {*/
/*cursor:pointer;*/
/*display:inline-block;*/
/*background:#003366;*/
/*padding-left:1em;*/
/*padding-right:1em;*/
/*margin-right:1em;*/
/*}*/
