@import "../../../plugin_framework/static/plugin_framework/css/framework.less";

.plugin_ajaxselect              {.clearfix;
    select                      {float:left;
                                 width:90%;
    div.w2p_fw &                {display:block;}
    }
    .refresh_trigger,
    .add_trigger                {float: left;
                                 position:relative;
                                 top: (@baseFontSize / 2);
                                 width: @baseFontSize;
                                 height: @baseLineHeight;
                                 line-height: @baseLineHeight;
                                 font-size: @baseFontSize;
                                 .border-radius(0 @borderRadiusLarge @borderRadiusLarge 0);
                                 clear:right;
                                 text-align:center;
                                 text-decoration:none;
                                 -moz-transition:all 100ms ease-in;    
                                 -webkit-transition:all 100ms ease-in;    
        &:hover,
        &:active               {/*background-color:#003366;*/
                                -moz-transition:all 100ms ease-in;
                                -webkit-transition:all 100ms ease-in;
        }
    }
    ul.taglist                 {clear:both;
                                margin-left: 0;
                                list-style-type: none;

        li.tag                 {/*background-color: #607890;*/
                                /*margin: .25em .25em 0 0;*/
                                cursor:pointer;
                                max-width:90%;

            ul.sortable &      {display:list-item;
                                cursor:move;
                                float:left;
                                width:90%;
                                max-width:90%;
                &.ui-state-highlight {
                    /*background-color: #003366;*/
                }
            }
            span.label,
            a.label            {
                &.label-info   {width:75%;
                                max-width:75%;
                                overflow:hidden;}
                &.edit_trigger {text-align: center;
                                clear:right;}
                &.tag_remover  {clear:right;}
            }
        }
    }
}


/*a.tag:hover {*/
    /*background-color:#003366;*/
    /*-moz-transition:all 100ms ease-in;*/
    /*-webkit-transition:all 100ms ease-in;*/
/*}*/

/*li.tag a.tag_remover {*/
    /*cursor:pointer;*/
    /*display:inline-block;*/
    /*background:#003366;*/
    /*padding-left:1em;*/
    /*padding-right:1em;*/
    /*margin-right:1em;*/
/*}*/
